* {
  margin: 2px;
  box-sizing: border-box;
}

body{
	font-family: 'Montserrat', Helvetica, sans-serif;
}

.parent {
  display: flex;
  flex-flow: column nowrap;
}

.header {
  display: flex;
  flex-flow: column nowrap;
  background: url(../img/fonsCapçalera.jpg);
  background-position: center;
  background-attachment: contain;
  background-size: cover;
}

	.menu {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	}
	
		.logo {
		margin: auto;
		padding: 0px;
		flex: 1 1 auto;
		}
		
		.logoImg{
		height: 5rem;
		width: auto;
		}
		
		.logo a:hover{
			opacity: .8;
		}

		.nav {
		flex: 5 1 auto;
		align-self: center;
		
		}

		.nav a {
			padding: 5px;
			color: gray;
			text-decoration: none;
			font-size: 12px;
			word-spacing: 2px;
			border: 1px solid transparent;
		}

		.nav a:hover{
			color: darkslategray;
			border-bottom: 1px solid darkslategray;
		}
				
		.social{
			margin: 0px;
			border: 0px;
			padding: 0px;
			display: flex;
			flex-flow: column wrap;
			flex: 1 1 auto;
		}

		.social i{
			padding: 2px;
			display: flex;
			align-self: auto;
			font-size: 12px;
		}

		.social a {
			border: 0px;
			color: gray;
			text-decoration: none;
		}

		.social a:hover{
			color: darkslategray;
		}

	.capcelera {
	font-family: 'Berkshire Swash', cursive;
	text-align: center;
	color:rgba(240, 128, 128,.6);
	}

		.capcelera h1 {
		padding: 26px;
		font-size: 25px;
		background: rgba(209, 209, 209, 0.2);
		}
		
		.capcelera i{
			font-size: 30px;
		}


.seccio {
margin: 0px;
display: flex;
}

	.articles {
	background:lightgray;
	display: flex;
	padding: 4px;
	flex: 2 1 auto;
	flex-flow: row wrap;
	}

		.article {
		display: flex;
		flex-flow: column wrap;
		background: whitesmoke;
		flex: 1 1 45%;
		padding: 4px;
		}

		.article img{
			margin: 0px;
			width: 100%;
		}

		.article a {
			text-decoration: none;
			color:#5c5c5c;
			font-size: 12px;
			color: #0e0c0c;
			text-align: left;
			display: inline-block;
			padding: 5px;
		}

		.article a:hover {
			color: darkslategray;
			border-bottom: 1px solid darkslategray;
		}

		h3{
			margin: 0px 0px 0px 6px;
			display: flex;
			font-size: 10px;
			color: whitesmoke;
			margin-top: -13px;
		}
		
		h2{
			margin: 0px;
			padding: 10px 0px 0px 6px;
			text-transform: uppercase;
			display:flex;
			font-size: 16px;
			color: whitesmoke;
			background: tomato;
		}

		p{
			padding: 5px;
			font-size: 12px;
			color: #0e0c0c;
			text-align: left;
		}

		.navegacioArticles {
		display: flex;
		flex: 1 1 100%;
		justify-content: flex-start;
		}

		.navegacioArticles a {
		padding: 5px;
			color: gray;
		text-decoration: none;
		font-size: 12px;
		word-spacing: 2px;
		border: 1px solid transparent;
	}
		.navegacioArticles a:hover {
			color: darkslategray;
			border-bottom: 1px solid darkslategray;
		}

	.aside {
	display: flex;
	background: tomato;
	flex: 1 1 auto;
	flex-flow: column wrap;
	padding: 4px;
	}

		.publi {
		padding: 0px;
		background: whitesmoke;
		}

		.publi img{
			margin: 0px;
			padding: 5px;
			width: 100%;
		}

		.publi h4{
			font-size: 16px;
			color: darkslategray;
			padding: 5px;
		}


.footer {
  background: lightgray;
  display: flex;
  justify-content: center;
  padding: 5px;
}

	.footerText {
	flex: 1 1 auto;
	}

	.footerText h6 {
		color: gray;
		font-weight: 400;
		font-size: 12px;
	}


/*Adaptem a la mida de tauleta*/
@media all and (max-width: 800px) {
  .seccio {
    flex-direction: column;
  }

  .capcelera h1 {
	font-size: 20px;
	}
	
	.capcelera i{
		font-size: 24px;
	}
}

/*Adaptem a la mida de mobil*/
@media all and (max-width: 500px) {
.menu {
border: 4px;
padding: 2px;
flex-direction: column;
align-items: stretch;
}

.off{
	display:none;
}

.logo img{
width: 3rem;
height: auto;
}

.nav i{
	font-size: 18px;
}

	.capcelera h1 {
		font-size: 18px;
		}
	.capcelera i{
		font-size: 20px;
	}

	.social{
	display: flex;
	flex-flow: row wrap;
	align-self: center;
	border: 0px;
	padding: 5px;
	}

.articles {
flex-direction: column;
}

}
